<div id="page-id" data-page-id={{page_id}}></div>
<div id="root" class="h-full w-full"></div>
<script src="/assets/js/chunk.js?t=20191201"></script>
<script src="/assets/js/bundle.js?t=20191201"></script>