
<section class="px-8 pt-6 pb-8 mb-4">
  <form action="{{path}}" method="post">
    <input type="hidden" name="_csrf_token" value="{{csrf.token}}" />
    <input type="hidden" name="_csrf_param" value="{{csrf.param}}" />
    <div class="mb-4">
      {{# error_message}}
        <p class="text-red-500 text-xs italic">{{error_message}}</p>
      {{/ error_message}}
    </div>
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="title">
        标题
      </label>
      <input class="border py-2 px-2
                    w-full text-gray-700"
             value="{{page.title}}"
             name="title" type="text" placeholder="标题" />
    </div>
    <div class="mb-4">
      <div class="fake-select" data-controller="fake-select"
           data-target="fake-select.container"
           data-action="
                  resize@window->fake-select#closeSelect
                  click@window->fake-select#closeSelect
                  ">
        <select data-target="fake-select.select" name="topic">
          <option value="a">A</option>
          <option value="b" selected>B</option>
          <option value="c">C</option>
        </select>
      </div>
    </div>
    <div class="mb-4">
      <button class="bg-teal-500 hover:bg-teal-700
                           text-white font-bold py-2 px-4 rounded
                           focus:shadow-outline" type="submit">
      保存
      </button>
    </div>
  </form>
  <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="title">
        内容
      </label>

      <div data-controller="page-editor">
        <div id="editor-container">
          {{{page.content}}}
        </div>
      </div>
  </div>
  <button data-action="click->page-editor#savePage">保存</button>
</section>


<style>
  #editor-container {
    height: 500px;
  }
</style>
