<footer class="pt-8">

  <div class="text-right my-2 mx-4">
    <p>Power by 
      <a href="https://www.vultr.com/?ref=6833358" class="text-teal-500">Vultr</a>
      and
      <a href="https://github.com/DavidAlphaFox/aiwiki" class="text-teal-500">AiWiki</a>
    </p>
  </div>
  <div class="text-center my-2 mx-4">
    Copyright &copy; 2019 <span class="text-teal-500">David Fox</span> All Rights Reserved.
  </div>
</footer>
