<header class="border-b border-gray-200 flex justify-between">
  <div class="text-left py-1 px-2">
    <a href="/">
    <span class="text-teal-500 text-xl">TTalkIM</span>
    </a>
  </div>
  <div class="text-left py-1 px-2">
    <a href="/rss.xml">
      <span class="text-teal-500 text-xl">RSS</span>
    </a>
  </div>
</header>
