<header class="border-b border-gray-200 flex justify-between">
  <div class="text-left py-1 px-2">
    <span class="text-teal-500 text-xl">TTalkIM</span>
  </div>
  <div class="text-left py-1 px-2">
      <span class="text-teal-500 text-xl">RSS</span>
  </div>
</header>
