<div class="flex w-full justify-center p-8">
  <div class="mt-4 mx-4 text-gray-900">
    <div class="text-center">博客</div>
    <div class="text-center text-sm font-serif">BLOG</div>
  </div>
   <div class="mt-4 mx-4 text-gray-600">
    <div class="text-center">项目</div>
    <div class="text-center text-sm font-serif">PROJECTS</div>
  </div>
</div>