.rebar3
_*
.eunit
*.o
*.beam
*.plt
*.swp
*.swo
.erlang.cookie
ebin
log
erl_crash.dump
.rebar
logs
_build
.idea
*.iml
rebar3.crashdump
log
.erlang.mk
deps
Mnesia.*
priv
node_modules
etc/storage/*
!etc/storage/.gitkeep
public/css/*
!public/.gitkeep
aiwiki.d
assets/node_modules
assets/dist