<!DOCTYPE html>
<html lang="zh-Hans">
<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" type="text/css" media="screen" href="/css/main.css">
</head>
<body>
    <header>
        <a href="/" >TTalk.im</a>
    </header>
    <aside>
        {% block sidebar %} {% endblock %}
    </aside>
  <div id="main">
  {% if messages %}
  <div id="messages">
    {% for message in messages %}
    <p> {{message}} </p>
    {% endfor %}
  </div>
  {% endif %}
  {% block content %}{% endblock %}
  </div>
</body>
</html>
