<!DOCTYPE html>
<html lang="zh-Hans">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css" integrity="sha256-8B1OaG0zT7uYA572S2xOxWACq9NXYPQ+U5kHPV1bJN4=" crossorigin="anonymous" />
    <!--    <link rel="stylesheet" type="text/css" media="screen" href="/css/main.css"> -->
</head>
<body>
    <nav class="navbar is-primary has-shadow" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">TTalkIM</a>
        </div>
    </nav>
    <div class="container">
    {% block sidebar %} {% endblock %}
    </div>
    <div class="container">
        {% if messages %}
        <div id="messages" class="notification">
            {% for message in messages %}
            <p> {{message}} </p>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
