<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <title>登陆</title>
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="icon" href="/favicon.ico" />
    <link href="/assets/css/client.css?t=20191201" rel="stylesheet">
  </head>
  <body class="bg-white antialiased h-screen">
    <div class="h-full bg-gray-200 py-10 flex justify-center">
      <div class="w-full max-w-sm">
        <form action="{{path}}" method="post"
              class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
          <input type="hidden" name="_csrf_token" value="{{csrf.token}}" />
          <input type="hidden" name="_csrf_param" value="{{csrf.param}}" />
          <div class="mb-4">
            {{# error_message}}
              <p class="text-red-500 text-xs italic">{{error_message}}</p>
            {{/ error_message}}
          </div>
          <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
              用户名
            </label>
            <input class="border rounded shadow
                          w-full py-2 px-3 text-gray-700
                          focus:shadow-outline"
                   name="username" type="text" placeholder="Username" />
          </div>
          <div class="mb-6">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="password" >
              密码
            </label>
            <input class="border shadow rounded
                          w-full py-2 px-3 text-gray-700 mb-3
                          focus:shadow-outline"
                   name="password" type="password" placeholder="******************" />
          </div>
          <div class="flex items-center justify-between">
            <button class="bg-teal-500 hover:bg-teal-700
                           text-white font-bold py-2 px-4 rounded
                           focus:shadow-outline" type="submit">
              登陆
            </button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
