{% extends "layouts/default.html" %}
{% extends "shared/_tags.html" %}
{% extends "shared/_pagination.html" %}

{% block content %}
<div class="tile is-ancestor is-vertical">
  {% for page in pages %}
    <a class="box" href="{{page.url}}" target="_blank">
      <article class="tile">
        <div class="content">
          <h2 class="title"> {{page.title}} </h2>
          <h3 class="subtitle"> {{ page.intro }} </h3>
        </div>
      </article>
    </a>
  {% endfor %}
</div>

  {% if pages %}
  <section class="section">
    {% block pagination %}
    {{ block.super  }}
  {% endblock %}
</section>
{% endif %}
{% endblock %}
