{% extends "layouts/default.html" %}
{% extends "shared/_tags.html" %}
{% extends "shared/_pagination.html" %}

{% block content %}
<div class="tile is-vertical">
  {% for page in pages %}
  <article class="tile">
    <p>
    <a href="{{page.url}}" target="_blank">
      <h2 class="title"> {{page.title}} </h2>
    </a>
    </p>
    <p> <h3> {{ page.intro }} </h3></p>
  </article>
  {% endfor %}
</div>

  {% if pages %}
  <section class="section">
    {% block pagination %}
    {{ block.super  }}
  {% endblock %}
</section>
{% endif %}
{% endblock %}
