{% extends "layouts/default.html" %}

{% block sidebar %}
{% include "shared/_topics.html" %}
{% endblock %}

{% block content %}
<div class="tile is-vertical is-ancestor">
  {% for page in pages %}
  <div class="tile is-parent is-vertical">
    <div class="tile">
      <a href="{{page.url}}" target="_blank">
        <h2 class="title is-4"> {{page.title}} </h2>
      </a>
    </div>
    <div class="tile">
      <span>发布于：{{page.published-at | date}} </span>
    </div>
    <div class="tile">
      <h3> {{ page.intro }} </h3>
    </div>
  </div>
  {% endfor %}
</div>

<section class="section">
  {% include "shared/_pagination.html" %}
</section>

{% endblock %}
