server {

    location ~* ^/(css|images|js|static)/(.+)$ {
        root /var/www/aiwiki/app;
        access_log off;
        expires 7d;
        add_header Pragma public;
        add_header Cache-Control "public";
        try_files $uri 404;;
    }
    location ~* ^/(favicon.ico|robots.txt|apple-touch-icon) {
        root /var/www/aiwiki/app;
        log_not_found off;
        access_log off;
        add_header Pragma public;
        add_header Cache-Control "public";
        try_files $uri 404;
    }
    location ~ /admin {
        root /var/www/aiwiki/app;
        set $fallback_file /admin/index.html;
        if ($uri ~ /admin$) {
            set $fallback_file /null;
        }
        try_files $uri $fallback_file =404;
    }

    location / {
        tcp_nodelay on;
        proxy_redirect off;
        proxy_set_header   Host $http_host;
        proxy_set_header   X-Forwarded-Host $http_host;
        proxy_set_header   X-Forwarded-Server $http_host;
        proxy_set_header   X-Real-IP        $remote_addr;
        proxy_set_header   X-Forwarded-For  $proxy_add_x_forwarded_for;
        proxy_buffering    off;
        proxy_set_header   X-Forwarded-Proto $scheme;
        proxy_pass         http://127.0.0.1:5000;
        proxy_send_timeout 86400;
        proxy_read_timeout 86400;
        proxy_connect_timeout 30s;
        gzip on;
    }
}
