<div class="md:flex md:mb-4 md:justify-around">
<div class="mt-8 px-8 w-full h-full md:max-w-xl">
  <ul class="mb-4 md:mx-4">
    <li class="mt-6">
      <div class="text-left">
        <h2 class="mb-4 text-lg font-bold">标题</h2>
        <div class="text-gray-600">简介</div>
      </div>
    </li>
    <li class=mt-6>
      <div class="text-left">
        <h2 class="mb-4 text-lg font-bold">标题</h2>
        <div class="text-gray-600">简介</div>
        <a class="text-teal-500">阅读更多...</a>
      </div>
    </li>
  </ul>
  <div class="mt-4 md:mx-4 flex justify-center">
    <a class="text-teal-500 hover:text-white hover:bg-teal-500 py-2 px-2 my-auto">
      前一页
    </a>
    <a class="text-gray-400 px-2 py-2 my-auto">
      后一页
    </a>
  </div>
</div>
<aside class="mt-8 w-full md:max-w-xs">
  <div class="w-full md:rounded-lg md:shadow-lg md:bg-gray-400">
    <div class="px-4 py-2 
      border-b border-gray-400 md:border-none">
      <span class="text-lg font-bold">分类</span>
    </div>
    <ul class="pb-4 md:bg-white">
      <li class="mx-4 my-2">
        <span class="px-4 text-md text-gray-800 hover:text-teal-500"> 杂谈 </span>
      </li>
      <li class="mx-4 my-2 bg-blue-200 rounded">
        <span class="px-4 text-md text-blue-500 hover:text-teal-500"> Erlang </span>
      </li>
      <li class="mx-4  my-2">
        <span class="px-4 text-md text-gray-800 hover:text-teal-500"> OCaml </span>
      </li>
      <li class="mx-4  my-2">
        <span class="px-4 text-md text-gray-800 hover:text-teal-500"> Lisp </span>
      </li>
      <li class="mx-4  my-2">
        <span class="px-4 text-md text-gray-800 hover:text-teal-500"> EMQX </span>
      </li>
      <li class="mx-4 my-2 bg-blue-200 rounded">
        <span class="px-4 text-md text-gray-800 hover:text-teal-500"> ejabberd </span>
      </li>
    </ul>
  </div>
</aside>
</div>
