{% extends "layouts/default.html" %}
{% extends "shared/_tags.html" %}
{% extends "shared/_pagination.html" %}

{% block content %}

  {% for page in pages %}
  <a class="box" href="{{ page.url }}" target="_blank">
    <article class="media">
      <div class="media-content">
        <div class="content">
          <p>
            <strong>{{ page.title  }}</strong>
            <br>
            {{ page.intro }}
          </p>
        </div>
      </div>
    </article>
  </a>

  {% endfor %}

{% if pages %}
<section class="section">
  {% block pagination %}
  {{ block.super  }}
  {% endblock %}
</section>
{% endif %}
{% endblock %}
