{% extends "layouts/default.html" %}
{% extends "shared/_tags.html" %}
{% extends "shared/_pagination.html" %}

{% block title %}Welcome to AI Wiki{% endblock %}
{% block content %}
<section class="section">
  {% for page in pages %}
  <a href="{{ page.url }}">
    <div class="hero">
      <div class="hero-body">
        <div class="container">
          <h1 class="title"> {{ page.title }} </h1>
          <h2 class="subtitle"> {{ page.intro  }} </h2>
        </div>
      </div>
    </div>
  </a>
  {% endfor %}
</section>
{% if pages %}
<section class="section">
  {% block pagination %}
  {{ block.super  }}
  {% endblock %}
</section>
{% endif %}
{% endblock %}
