{% extends "layouts/default.html" %}
{% block title %}{{title}}{% endblock %}
{% block sidebar %}
<p>
    {% if username %}
    <p> <a href="/page_edit/{{title}}">edit this page</a> </p>,
    {% if version-count %}
    view previous versions:
    <ul>
    {% for i in version-count %}
        <li> <a href="/page/{{title}}/{{i}}">Version -{{i}}</a> </li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endif %}
</p>
{% endblock %}
{% block content %}
<div class="section">
    <div class="container">
        <div class="tile">
            <div class="tile is-8 is-vertical is-parent">
        <div class="box">
            <div class="media">
                <article class="media-content">
                <h1 class="title is-1">{{title}}</h1>
                <p class="subtitle is-6">更新于{{date | date }} {{date | time}}</p>
                <div class="content">{{content|safe}}</div>
                </article>
            </div>
        </div>
        </div>
        {% if version-count %}
        <div class="tile is-vertical is-parent">
        <div class="card">
            <div class="card-header">
                <p class="card-header-title">历史版本</p>
            </div>
            <div class="card-content">
                <ul>
                    {% for i in version-count %}
                    <li> <a href="/page/{{title}}/{{i}}">版本 {{i}}</a> </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        </div>
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}

