{% extends "layouts/default.html" %}
{% block title %}{{title}}{% endblock %}
{% block sidebar %}
<p>
    {% if username %}
    <p> <a href="/page_edit/{{title}}">edit this page</a> </p>,
    {% if version-count %}
    view previous versions:
    <ul>
    {% for i in version-count %}
        <li> <a href="/page/{{title}}/{{i}}">Version -{{i}}</a> </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endif %}
</p>
{% endblock %}
{% block content %}

<div class="page">
    <h1>{{title}}</h1>
<p>{{content|safe}}</p>
<p>Last modified: {{date | date }} {{date | time}}</p>
{% endblock %}
</div>
