<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <title>
      {{# site_title}}{{  site.brand }}{{/ site_title}}
    </title>
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="icon" href="/favicon.ico" />
    <link href="/assets/css/styles.css?t=20191201" rel="stylesheet">
  </head>
  <body class="bg-white antialiased h-screen">
    {{> shared/header}}
    {{* yield}}
    {{> shared/footer}}
  </body>
</html>
