@media (min-width: 768px){
  .dropdown-menu {
    &:hover > a:after {
      width: 100%;
    }
  }
  .dropdown-menu-link:after{
    width: 0;
    content: "";
    display: block;
    transition: all 0.3s ease 0s;
    @apply border-b-2 border-solid border-teal-500;
  }
}
