<div class="md:flex md:pt-4 md:justify-center">
<div class="pt-4 px-8 w-full h-full md:max-w-xl2">
  <ul class="pb-4 md:mx-4">
    {{# pages }}
    <li class="mt-6">
      <div class="text-left">
        <a href="{{{pages.url}}}" target="_blank">
        <h2 class="mb-4 text-lg font-bold">
          {{ pages.title }}
        </h2>
        </a>
        <div class="text-gray-600">{{ pages.intro }}
        <a class="text-teal-500" href="{{{pages.url}}}" target="_blank">阅读更多...</a> </div>
      </div>
    </li>
    {{/ pages }}
  </ul>
  <div class="mt-4 md:mx-4 flex justify-center">
    {{# pager}}
      {{# pager.enabled}}
        <a class="text-teal-500 
          hover:text-white hover:bg-teal-500 
          py-2 px-2 my-auto"
          href="{{{pager.url}}}"
        >
          {{pager.title}}
        </a>
      {{/ pager.enabled}}
      {{^ pager.enabled}}
        <a class="text-gray-400 px-2 py-2 my-auto">
          {{pager.title}}
        </a>
      {{/ pager.enabled}}
    {{/ pager}}
  </div>
</div>
<aside class="pt-4 w-full md:mx-8 md:max-w-xs">
  {{> shared/aside/topics}}
  {{# has_exlinks}}
    {{> shared/aside/exlinks}}
  {{/ has_exlinks}}
</aside>
</div>
