<div class="pt-8">
  <h1 class="text-center font-bold text-2xl mx-2">{{page.title}}</h1>
  <div class="mt-4 mx-4 md:mx-64 content">
    {{{page.content}}}
  </div>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/monokai-sublime.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
</div>
