<!DOCTYPE html>
<html lang="zh-Hans">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    {% if not site.intro %}
    <meta name="description" content="{% block intro %}{% endblock %}">
    {% else %}
    <meta name="description" content="{{site.intro}}{% block intro %}{% endblock %}" >
    {% endif %}
    {% if not site.keywords %}
    <meta name="keywords" content="{% block keywords %}{% endblock %}">
    {% else %}
    <meta name="keywords" content="{{site.keywords}}{% block keywords %}{% endblock %}">
    {% endif %}
    {{site.header | safe}}
    <title>{% block title %}{{site.brand}}{% endblock %}</title>
  <link href="https://cdn.bootcss.com/bulma/0.7.5/css/bulma.min.css" rel="stylesheet">
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
  <nav class="navbar is-primary has-shadow" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">{{site.brand}}</a>
    </div>
  </nav>
  <div class="section">
    {% if index %}
    <div class="columns">
      <div class="column">
        {% block content %}{% endblock %}
      </div>
      <div class="column is-one-fifth">
        {% block sidebar %} {% endblock %}
      </div>
    </div>
    {% else %}
    <div class="columns is-centered">
        <div class="column is-three-quarters">
          {% block content %}{% endblock %}
        </div>
      </div>
    {% endif %}
  </div>
  <footer class="footer">
    {{site.footer | safe}}
  </footer>
</body>
</html>
