<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta name="description" content="{% block intro %}{{site.intro}}{% endblock %}" >
    <meta name="keywords" content="{% block keywords %}{{site.keywords}}{% endblock %}">
    {{site.header | safe}}
    {% block header %}{% endblock %}
    <title>{% block title %}{{site.brand}}{% endblock %}</title>
    <link href="/css/bulma.min.css?version=0.7.5" rel="stylesheet">
    <link href="/css/main.css?version=201910012303" rel="stylesheet">
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="icon" href="/favicon.ico" />
  </head>
<body>
  <nav class="navbar is-primary has-shadow" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">{{site.brand}}</a>
    </div>
    <div class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item"
           href="/rss.xml"
           onclick="gtag('event','subscribe');"
        >
          RSS订阅
        </a>
      </div>
    </div>
  </nav>
  <div class="section">
    <div class="columns">
      <div class="column">
        {% block content %}{% endblock %}
      </div>
      <div class="column is-one-fifth">
        {% block sidebar %} {% endblock %}
      </div>
    </div>
  </div>
  <footer class="footer">
    {{site.footer | safe}}
  </footer>
</body>
</html>
