
{% extends "layouts/admin.html" %}
{% block content %}
<form action="/admin/pages/{{id}}" method="post">
  <div class="field">
    <label class="label">文章标题</label>
    <div class="control">
      <input name="title"
        class="input" type="text"
        placeholder="文章标题" value="{{title|safe}}">
    </div>
  </div>
  <div class="filed">
    <label class="label">文章简介</label>
    <div class="control">
      <textarea name="intro"
        rows="3" class="textarea">{{intro|safe}}</textarea>
    </div>
  </div>
  <div class="filed">
    <label class="label">文章内容</label>
    <div class="control">
      <textarea name="content"
        rows="40" class="textarea">{{content|safe}}</textarea>
    </div>
  </div>
  <div class="filed ">
    <div class="control">
      <label class="checkbox">
        <input type="checkbox" value={{published}}>
        发布
      </label>
    </div>
  </div>
  <div class="field is-grouped">
    <div class="control">
      <input class="button is-link" type="submit" value="Submit" />
    </div>
    <div class="control">
      <a class="button is-text" href="/admin/pages/index.html">Cancel</a>
    </div>
</div>
</form>
{% endblock %}
